@model Category
@{
    ViewData["Title"] = "Редактирование категорий";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<div class="col-md-6">
    <form asp-action="EditCategory" asp-controller="Redact" asp-route-id="@Model.Id">
        <dl class="dl-horizontal">
            @Html.ValidationSummary()
            <dt>@Html.LabelFor(model => model.Name)</dt>
            <dd>@Html.EditorFor(model => model.Name)</dd>

            <dt>@Html.LabelFor(model => model.Hierarchy)</dt>
            <dd>@Html.EditorFor(model => model.Hierarchy)</dd>
        </dl>
        <button type="submit" class="btn btn-default">Добавить</button>
    </form>
</div>
</div>

