@model Manufacture
@{
    ViewData["Title"] = "Редактирование производителя";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<div class="col-md-6">
    <form asp-action="EditManufacture" asp-controller="Redact" asp-route-id="@Model.Id">
        @Html.ValidationSummary()
        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description)
            @Html.EditorFor(model => model.Description)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Logo)
            @Html.EditorFor(model => model.Logo)
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Изменить</button>
        </div>
    </form>
</div>
